* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 1px;
  text-align: center;
  background: #1abc9c;
  background-image:url(Image/head.jpg);
  background-size:cover;
  color: white;
}

/* barre de navigation */
.navbar {
    position: sticky;
    top :0px;
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 5px 16px;
  text-decoration: none;
  text-align: center;
}

.navbar img{
    float:left;
    padding-right:5px;
}
.navbar navtxt{
    float:center;
    
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Conteneur des colonnes */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* 2 Colonnes côte a côte qui peuvent se superpose */
/* Colonne de gauche */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Colonne principale */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

h2{
    font-size : 28px;
    color : #1abc9c;
    text-transform : uppercase;
    border-bottom : 3px solid #1abc9c;
}

#cnam{
    padding-left : 0px;
}

.forma{
    float:left;
    width:100%;
    display:flex;
}

.sec-gauche{
    float:left;
    margin-left:10px;
}

.sec-droite{
    float : left;
    margin-left : 10px;
    padding-left : 10px;
}

.sec-droite a{
    color : #000;
}

.sec-droite a:hover{
    color : #00f;
}

.exp{
    float:left;
    width:100%
    display:flex;
}

.logoexp{
    float:left;
}

.txtexp{
    float:top;
    margin-left:170px;
}

.txtexp ul{
    padding-left:0px;
}

.elem:hover{
    color : #00f;
}

#jdlv:hover{
 content:url(Image/JDLV.gif); width:200px;
}

#space:hover{
 content:url(Image/space.gif); width:200px;
}

#p4:hover{
 content:url(Image/p4.gif); width:200px;
}

#retro:hover{
 content:url(Image/arpg.gif); width:200px;
}

.atouts{
    float:left;
    width:100%;
}

progress{
    float : left;
    margin-left : 170px;
    width : 300px;
    height : 20px;
}

.hobbies{
    float:left;
    width:100%;
}

/* test img */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Mode 1 colonne qd ecran<700px */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}